<%= render 'shared/hero_section' %>

<div class="container my-5">
  <div class="row">
    <div class="col text-center">
      <h2 class="display-4">Discover Quality Gadgets</h2>
      <p class="lead">Explore renowned products and enjoy exceptional service.</p>
      <%= link_to 'Explore Products', products_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'About Us', about_path, class: 'btn btn-lg btn-light' %>
    </div>
  </div>
</div>

<%= render 'shared/features' %>
<%= render 'shared/service_highlights' %>
