<h2>Your Order Summary</h2>

<% if user_signed_in? %>
  <!-- Display user details and calculated tax -->
  <p>Province: <%= @province %></p>
  <p>Total Amount: $<%= @total_amount %></p>
  <p>Tax Amount: $<%= @tax_amount %></p>
  <p>Total Amount with Tax: $<%= @total_with_tax %></p>
<% elsif @province.blank? %>
  <%= form_with(url: new_checkout_path, method: :get) do |form| %>
    <%= form.label :province, 'Enter Your Province:' %>
    <%= form.text_field :province %>
    <%= form.submit 'Submit' %>
  <% end %>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |item| %>
        <tr>
          <td><%= item[:product].name %></td>
          <td><%= item[:quantity] %></td>
          <td>$<%= item[:product].price %></td>
          <td>$<%= item[:total_price] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>Total Amount: $<%= @total_amount %></p>
  <p>Tax Amount: $<%= @tax_amount %></p>
  <p>Total Amount with Tax: $<%= @total_with_tax %></p>

  <%= link_to 'Proceed to Payment', orders_path, class: 'btn btn-primary' %>
  <%= link_to 'Back to Cart', cart_path, class: 'btn btn-secondary' %>
<% end %>
