<div class="container mt-3">
  <h2 class="mb-4">Your Shopping Cart</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% total_price = 0 %>
        <% @cart_items.each do |item| %>
          <tr>
            <td><%= item[:product].name %></td>
            <td>$<%= item[:product].price %></td>
            <td><%= item[:quantity] %></td>
            <td>$<%= item[:total_price] %></td>
            <% total_price += item[:total_price] %>
            <td>
              <%= button_to 'Remove', remove_from_cart_cart_path(product_id: item[:product].id), method: :delete, class: "btn btn-dark" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col text-right">
    <% tax_rate = case @province_name
    when 'Alberta' then 0.05
    when 'British Columbia' then 0.12
    when 'Manitoba' then 0.12
    when 'New Brunswick' then 0.15
    when 'Newfoundland and Labrador' then 0.15
    when 'Northwest Territories' then 0.05
    when 'Nova Scotia' then 0.15
    when 'Nunavut' then 0.05
    when 'Ontario' then 0.13
    when 'Prince Edward Island' then 0.15
    when 'Quebec' then 0.14975
    when 'Saskatchewan' then 0.11
    when 'Yukon' then 0.05
    else 0.0 # Default if province not matched or recognized
    end %>
<% tax_amount = total_price * tax_rate %>
<h3>Subtotal: $<%= total_price %></h3>
<h3>Tax ( <%= @province_name %> ): $<%= tax_amount.round(2) %></h3>
<h3>Total Amount: $<%= (total_price + tax_amount).round(2) %></h3>
<%= form_with url: checkouts_path, method: :post, local: true do |form| %>
<div class="actions text-right">
  <%= form.submit "Place Order", class: "btn btn-primary" %>
</div>
<% end %>
</div>
</div>