<h2>Checkout</h2>

<% if @cart_items.present? %>
  <% @cart_items.each do |item| %>
    <div>
      <%= item.product.name %> - 
      <%= number_to_currency(item.product.price) %> x 
      <%= item.quantity %>
    </div>
  <% end %>
  <div>Subtotal: <%= number_to_currency(@subtotal) %></div>
  <div>GST: <%= number_to_currency(@gst) %></div>
  <div>PST: <%= number_to_currency(@pst) %></div>
  <div>HST: <%= number_to_currency(@hst) %></div>
  <div>Total: <%= number_to_currency(@total_price) %></div>

  <!-- Stripe.js library -->
  <%= javascript_include_tag "https://js.stripe.com/v3/" %>

  <!-- "Proceed to Payment" button -->
  <%= link_to "Proceed to Payment", new_charge_path(amount: @total_amount), class: "btn btn-primary" %>



  <!-- Add any JavaScript needed to handle the redirection to Stripe Checkout here -->
  <script>
    // You might need JavaScript here if you are handling Stripe's Checkout redirection or confirming the PaymentIntent on the client side.
  </script>

<% else %>
  <p>Your cart is empty.</p>
<% end %>

<h3>Shipping Address</h3>
<p>
  Street: <%= current_user.address.street %><br>
  City: <%= current_user.address.city %><br>
  Province: <%= current_user.address.province.name %>
</p>
