<!-- app/views/categories/show.html.erb -->
<div class="container mt-3">
  <h1 class="mb-4"><%= @category.name %></h1>
  <p><%= @category.description %></p>
  
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <% if product.images.attached? %>
            <%= image_tag product.images.first.variant(resize_to_limit: [300, 300]), class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= truncate(product.description, length: 100) %></p>
            <p class="card-text"><strong>Price:</strong> <%= number_to_currency(product.price) %></p>
            <a href="<%= product_path(product) %>" class="btn btn-primary">View Product</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
