<!-- app/views/products/index.html.erb -->
<h1 class="my-4 text-center">Our All Products</h1>

<div class="product-filters text-center">
  <%= link_to 'All Products', products_path %>
  <%= link_to 'On Sale', products_path(on_sale: 'true') %>
  <%= link_to 'New Products', products_path(new: 'true') %>
  <%= link_to 'Recently Updated', products_path(recently_updated: 'true') %>
</div>

<div class="row">
  <% @products.each do |product| %>
    <%= render partial: 'shared/product_card', locals: { product: product } %>
  <% end %>
</div>

<%= render partial: 'shared/pagination', locals: { products: @products } %>
