<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- Product image -->
      <% if @product.images.attached? %>
        <%= image_tag url_for(@product.images.first), class: "img-fluid", alt: "Product Image", width: "800", height: "800" %>
      <% else %>
        <!-- Display a placeholder image or text -->
        <%= image_tag "placeholder.png", class: "img-fluid", alt: "Placeholder Image", width: "800", height: "800" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <!-- Product details -->
      <h1><%= @product.name %></h1>
      <p>Description: <%= @product.description %></p>
      <p>Price: $<%= @product.price %></p>
      <%= button_to 'Add to Cart', add_to_cart_cart_path(product_id: @product.id), method: :post, class: 'btn btn-primary btn-block' %>
    </div>
  </div>

  <!-- Related Products -->
  <% if @related_products.any? %>
    <h2>Related Products</h2>
    <div class="row">
      <% @related_products.first(3).each do |related_product| %>
        <div class="col-md-4">
          <div class="card h-100">
            <% if related_product.images.attached? %>
              <%= image_tag related_product.images.first, class: "card-img-top" %>
            <% else %>
              <%= image_tag 'placeholder-image.png', class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= related_product.name %></h5>
              <p class="card-text">$<%= number_to_currency(related_product.price) %></p>
              <div class="d-grid gap-2">
                <%= link_to 'View Product', product_path(related_product), class: 'btn btn-primary btn-block' %>
                <%= button_to 'Add to Cart', add_to_cart_cart_path(product_id: related_product.id), method: :post, class: 'btn btn-primary btn-block' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  
  <!-- Browse More button -->
  <div class="text-center mt-4">
    <%= link_to 'Browse More', root_path, class: 'btn btn-secondary' %>
  </div>
</div>
