<!DOCTYPE html>
<html>
<head>
  <title>WinniEGadget</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
  <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
</head>
<body>

  <%= render 'shared/header' %>
  <%= yield %>
  <%= render 'shared/newsletter_subscription' %>
  <!-- Horizontal Line -->
<hr class="newsletter-footer-separator">
  <%= render 'shared/footer' %>



  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%# <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script> %>
  <%# <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script> %>
  <%# <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.min.js"></script> %>
  <script src="https://js.stripe.com/v3/"></script>
</body>
</html>
