<!DOCTYPE html>
<html>
<head>
  <title>WinniEGadget</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <%= render 'shared/header' %>
  <%= yield %>
  <%= render 'shared/footer' %>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-Qg00W+gOYl4CtQ7c7E9VB3Uw5Eki4evC2LDZTfFmRlmRtGpG8rM/XA7Uezy+HCKZ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SRQ23GmADkywMR5q+nrW9QifNV6Q5Xv8fC1MOzTmC5EPTPxR1Ij6YbLBUjG7u1Ib" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.min.js" integrity="sha384-cn7QqD9ENbTcENLcLIuDq3lZ2JJLfF2kM6zn9n4Z4n5w5j5GCl7aPjvAv/9hnBx8" crossorigin="anonymous"></script>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://js.stripe.com/v3/"></script>

</body>
</html>
